
body, html {
    height: 85%;
    margin: 0;
  }
  
  .bg {
    background-image: url("https://scontent.farn1-2.fna.fbcdn.net/v/t39.30808-6/305575021_485235290277297_8046623533921723641_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=52f669&_nc_ohc=0PEJDYgiR3UAX8hF_ez&_nc_ht=scontent.farn1-2.fna&oh=00_AfDbKFbJPLbu8cNnNYb-SXckHpLw0Ts1NRFxk34T20pWKw&oe=650DF0EB");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    .bg {min-width: 480px;}
    .header{min-width: 480;}
  }
  
  
     .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color:black;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        
      }

      .sidenav a {
        padding: 8px 18px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      .sidenav a:hover {
        color:aqua;
        font-style: italic;
      }

      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;} }

        .flex-container {
            display: flex;
            background-color:mistyrose;
            flex-direction: row;  
            flex-wrap: wrap; 
            justify-content: space-around;
            align-items: center;
            
               
        }
        .flex-container > p {
            display: flex;
            background-color: aqua;
            color: grey;
            font-size: 2rem;
            padding: 16px;
            margin: 16px;
            
            
        }
            

            @media (max-width: 768px) {
                .flex-container {
                  flex-direction: column;
                }
            }

            .header {
                background-color: lightseagreen;
                color: whitesmoke;
                padding: 10px;
                font-style: italic;
                font-size: 36px;
                text-align: center;
              }
              footer {
                text-align: center;
                padding: 2px;
                background-color:mistyrose;
                color:lightseagreen;
                
              }

              button{
                background-color:aqua;
                font-size: 2rem;
                font-style: italic;
                color:gray;
                
              }
              .myDiv {
                border: 2px outset mistyrose;
                background-color:mistyrose;    
                font-style: italic;
                font-size: 1rem;
                padding-top: 50px;
                padding-right: 30px;
                padding-bottom: 50px;
                padding-left: 80px;
              
              }
              ol.b {
                list-style-type: square;
              }

              .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              }
           
              div.gallery {
                border: 1px solid #ccc;
              }
              
              div.gallery:hover {
                border: 1px solid #777;
              }
              
              div.gallery img {
                width: 100%;
                height: auto;
              }
              
              div.desc {
                padding: 15px;
                text-align: center;
              }
              
              * {
                box-sizing: border-box;
              }
              
              .responsive {
                padding: 0 6px;
                float: left;
                width: 24.99999%;
              }
              
              @media only screen and (max-width: 768px) {
                .responsive {
                  width: 49.99999%;
                  margin: 6px 0;
                }
              }
              
              @media only screen and (max-width: 350px) {
                .responsive {
                  width: 100%;
                }
              }
              
              .clearfix:after {
                content: "";
                display: table;
                clear: both;
              }

            
              
            
        
        
              

       
            
             

            